/BankingSystemLibrary/build/
/ATMClient/build/
/build/
/BankingSystem-ejb/build/
/TTMClient/build/
/BankingSystemLibrary/dist/
/TTMClient/dist/
/ATMClient/dist/
/BankingSystem-ejb/dist/
/dist/
/ATMachineClient/nbproject/private/
/ATMachineClient/build/
/ATMachineClient/dist/
